{
    "presets": ["@babel/preset-env"],
    "comments": false,
    "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-transform-flow-strip-types",
        "@babel/plugin-transform-modules-commonjs"
    ],
    "sourceMaps": true
}
