.DS_Store
node_modules
javascript.iml
*.js-e
*.json-e
upload/*
coverage/
.idea
*.iml
.travis
test/*
.eslintignore
.eslintrc.cjs
.prettierrc
.prettierignore
.prettierignore
.claude/*
.babelrc
.github
release-artifacts-*
resources/*
docs-snippets/*