#thermostat {
    background-color: red;
    border: 1px;
    margin: 1px;
}

td {
    text-align: center;
}
#roofs img{
    width: 100px;
    display: none;
}

.thermostatValue button {
    width: 100px;
}

.yui3-dial-value-string {
    display: none;
}

#logfileTable {
    vertical-align: middle;
    text-align: center;
}

#logfileTable td {
}

#houseScene {
    width: 500px;
}

#manualThermoResync{
    width: 64px;
}