name: Automated project release

on:
  pull_request:
    branches: [ master ]
    types: [ closed ]

jobs:
  check-release:
    name: Check release required
    runs-on: ubuntu-latest
    # Uncomment this to run job only for merge (not PR close).
#    if: ${{ github.event.pull_request.merged }}
    outputs:
      release: ${{ steps.check.outputs.ready }}
    steps:
      - name: Checkout actions
        uses: actions/checkout@v2
        with:
          repository: pubnub/client-engineering-deployment-tools
          ref: github-actions
          token: ${{ secrets.GH_TOKEN }}
          path: ".github/.release/actions"
      - id: check
        name: Check pre-release completed
        uses: "./.github/.release/actions/actions/checks/release"
        with:
          token: ${{ secrets.GH_TOKEN }}
  publish:
    name: Publish package
    runs-on: ubuntu-latest
    needs: check-release
    if: ${{ needs.check-release.outputs.release == 'true' }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          # This should be the same as the one specified for on.pull_request.branches
          ref: master
      - name: Checkout actions
        uses: actions/checkout@v2
        with:
          repository: pubnub/client-engineering-deployment-tools
          ref: github-actions
          token: ${{ secrets.GH_TOKEN }}
          path: ".github/.release/actions"
      - name: Run release actions
        # Intentional fail, because credentials not specified.
        uses: "./.github/.release/actions/actions/services/npm"
