name: Tests

on:
  push:
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
defaults:
  run:
    shell: bash
env:
  CXX: 'g++-4.8'
  PAM_SUBSCRIBE_KEY: ${{ secrets.SDK_PAM_SUB_KEY }}
  PAM_PUBLISH_KEY: ${{ secrets.SDK_PAM_PUB_KEY }}
  PAM_SECRET_KEY: ${{ secrets.SDK_PAM_SEC_KEY }}
  SUBSCRIBE_KEY: ${{ secrets.SDK_SUB_KEY }}
  PUBLISH_KEY: ${{ secrets.SDK_PUB_KEY }}

jobs:
  tests:
    name: Integration and Unit tests
    runs-on:
      group: Default Larger Runners
      labels: ubuntu-latest-m
    strategy:
      fail-fast: true
      matrix:
        node: [18.18.0, 20]
        env: ['ci:node']
        include:
          - node: 18.18.0
            env: 'ci:web'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Checkout actions
        uses: actions/checkout@v4
        with:
          repository: pubnub/client-engineering-deployment-tools
          ref: v1
          token: ${{ secrets.GH_TOKEN }}
          path: .github/.release/actions
      - name: Setup NodeJS ${{ matrix.node }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
          cache: 'npm'
          cache-dependency-path: '**/package-lock.json'
      - name: Build and run tests for NodeJS ${{ matrix.node }}
        run: |
          npm install
          npm run ${{ matrix.env }}
      - name: Cancel workflow runs for commit on error
        if: failure()
        uses: ./.github/.release/actions/actions/utils/fast-jobs-failure
  all-tests:
    name: Tests
    runs-on:
      group: Default Larger Runners
      labels: ubuntu-latest-m
    needs: [tests]
    steps:
      - name: Tests summary
        run: echo -e "\033[38;2;95;215;0m\033[1mAll tests successfully passed"
